</head>
<body>
  <nav>
		<i class="fa-light fa-plane-tail" style="color: #545454;"></i>
    <a 
      href="/flights/new" class=<%= title === 'Add Flight' ? 'active' : '' %>
    >
      ADD FLIGHT
    </a>
  </nav>